/* RESET  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Anek Latin', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: white;
}

img {
    max-width: 100%;
}

/* BODY  */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* MAIN */
.main {
    flex-grow: 1;
    padding: 80px 80px 20px;
    background-color: black;
}

.main .cards {
    position: relative;
}

.main .cards img {
    display: block;
}

.main .user-data {
    background-color: rgb(126, 126, 126, 0.5);
    padding: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
}






/* DEBUG */
.debug * {
    border: 2px solid rgb(181, 97, 7);
}