/* RESET  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Anek Latin', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: white;
}

img {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* BODY  */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* MAIN */
.main {
    flex-grow: 1;
    padding: 70px 70px 0px;
    background-color: black;
    display: flex;
    align-items: center;
    overflow: auto;
    justify-content: center;
}

.main .row {
    gap: 5px;
    justify-content: center;
}

.main .cards {
    position: relative;
    /* width: calc((100% - 30px) / 7); */
    flex-basis: 160px;
    margin-bottom: 15px;
    /* overflow: scroll; */
    aspect-ratio: 16/9;
    
}


.main .cards img {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.main .user-data {
    position: absolute;
    bottom: 0;
    left: 0;
}

.main .icons-container {
    background-color: rgb(126, 126, 126, 0.5);
    padding: 4px; 
    font-size: 13px;   
}


/* view options */
.main .speaker-grid-view,
.main .arrow-4-size {
    display: inline-block;
}

.view-options {
    position: absolute;
    top: 5px;
    right: 5px;
}

.view-options .icons-container {
    border-radius: 5px;
    margin-left: 5px;
}

.icons-container:hover,
.footer .row-list:hover,
.cards img:hover,
.footer .col-right:hover {
    cursor: pointer;
    border: 1px solid greenyellow;
}


/* FOOTER */
.footer {
    justify-content: space-between;
    background-color: #4E4E4E;
    /* position: fixed;
    bottom: 0;
    left: 0;
    right: 0; */
}

.footer > .col {
    padding: 10px 20px 10px 10px;
}

.footer .row {
    gap: 10px;
} 

.footer .row-list {
    gap: 15px;
    align-items: center;
}

.footer .col-left-icons {
    text-align: center;
    width: fit-content;
}

.footer .col-right {
    background-color: #6C6C6C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .col-right a {
    font-style: normal;
    color: red;
    text-decoration: none;
}



/* 
VIEWPORT
.main .user-name {
    font-size: calc(13px + 0.5vw);
} */




/* DEBUG */
/* .debug * {
    border: 2px solid rgb(181, 97, 7);
} */ */