/* RESET  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Anek Latin', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: white;
}

img {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* BODY  */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* MAIN */
.main {
    flex-grow: 1;
    padding: 80px 80px 0px;
    background-color: black;
}

.main .row {
    gap: 5px;
}

.main .cards {
    position: relative;
    width: calc((100% - 30px) / 7);
    margin-bottom: 15px;
}


.main .cards img {
    display: block;
}

.main .user-data {
    position: absolute;
    bottom: 0;
    left: 0;
}

.main .icons-container {
    background-color: rgb(126, 126, 126, 0.5);
    padding: 4px; 
    font-size: 13px;   
}



/* view options */
.main .speaker-grid-view,
.main .arrow-4-size {
    display: inline-block;
}

.view-options {
    position: absolute;
    top: 5px;
    right: 5px;
}

.view-options .icons-container {
    border-radius: 5px;
    margin-left: 5px;
}

.icons-container:hover {
    cursor: pointer;
}








/* DEBUG */
.debug * {
    border: 2px solid rgb(181, 97, 7);
}